@font-face {
    font-family: 'Tourney';
    src: url(../fonts/Tourney-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Georama';
    src: url(../fonts/Georama-VariableFont_wdth\,wght.ttf);
}
