@charset "UTF-8";

/* TIPOS DE LETRA */

@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES DE CSS */

:root {
    --color-fondo: rgb(243, 243, 243);
    --color-tinta: rgb(42, 42, 42);
    --color-enlace: hsl(240, 61%, 59%);

    --hue-secundaria: 111;
    --saturacion-secundaria: 0%;
    --luminancia-secundaria: 75%;

    --color-fondo-secundario: hsl(var(--hue-secundaria), var(--saturacion-secundaria), var(--luminancia-secundaria));
    --color-fondo-terciario: hsl(var(--hue-secundaria), var(--saturacion-secundaria), calc(var(--luminancia-secundaria) + 5%));
    --color-fondo-cuaternario: hsl(var(--hue-secundaria), var(--saturacion-secundaria), calc(var(--luminancia-secundaria) + 10%));

    --tipo-letra-titulo: "Tourney", serif;
    --tipo-letra-texto: "Georama", serif;

    --margen: 1rem;
    --margen-pequeno: .5rem;

    --redondeado: .5rem;

    --borde: 1px solid var(--color-fondo-secundario);
    --sombra: .5rem .5rem .5rem rgba(0, 0, 0, 0.50);
}

/* RESETEOS GENERALES */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--tipo-letra-texto);

    background-color: var(--color-fondo);
    color: var(--color-tinta);

    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--tipo-letra-titulo);

    margin: var(--margen) 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

pre {
    background-color: var(--color-fondo-terciario);

    padding: var(--margen);

    border: var(--borde);
    border-radius: var(--redondeado);
    box-shadow: var(--sombra);

    overflow: auto;
}

a {
    color: var(--color-enlace);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1.2rem;

    color: black;
}

em {
    text-transform: uppercase;
    font-style: normal;

    color: black;
}

.destacado {
    font-weight: bold;
}

p,
pre:not(.ascii-art) {
    line-height: calc(1rem + var(--margen-pequeno));

    margin: calc(var(--margen) * 2) 0;
}

.ascii-art {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

dd {
    margin: var(--margen-pequeno) 0;
}

table {
    border-collapse: collapse;
    width: 100%;

    & thead,
    & tfoot {
        background-color: var(--color-fondo-secundario);
    }

    & tr:nth-child(even) {
        background-color: var(--color-fondo-cuaternario);
    }

    & td,
    & th {
        padding: var(--margen-pequeno);
        border: 1px solid var(--color-fondo-terciario);

        text-align: start;
    }

}

figure {
    margin: 0;
}

img,
video,
audio {
    width: 100%;

    border: var(--borde);
    border-radius: var(--redondeado);

    margin: var(--margen-pequeno) 0;
}

iframe {
    width: 100%;
    
    border: 0;
}

.proporcion {
    border: var(--borde);
    border-radius: var(--redondeado);
    
    margin: var(--margen-pequeno) 0;
    
    position: relative;
    overflow: hidden;

    &>iframe {

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.p1x1 {
        padding-bottom: calc(100% * 1 / 1);
    }

    &.p4x3 {
        padding-bottom: calc(100% * 3 / 4);
    }

    &.p16x9 {
        padding-bottom: calc(100% * 9 / 16);
    }
}

form {
    & fieldset, & input, & textarea, & select, & button {
        width: 100%;

        border: var(--borde);
        border-radius: var(--redondeado);
 
        padding: var(--margen-pequeno);
        margin: var(--margen-pequeno) 0;
    }

    & button {
        background-color: var(--color-fondo-secundario);
    }

    & input {
        &[type=submit], &[type=reset], &[type=button] {
            background-color: var(--color-fondo-secundario);
        }
    }
}

/* BLOQUES DEL CONTENIDO */

/* Menú principal */

body>nav:first-of-type {
    background-color: var(--color-tinta);
    padding: var(--margen-pequeno);


    & ul {
        text-align: center;

        list-style: none;

        padding: 0;
        margin: 0;

        & a {
            display: inline-block;
            padding: var(--margen-pequeno);
            color: var(--color-fondo);

            &:hover {
                background-color: var(--color-fondo);
                color: var(--color-tinta);

                text-decoration: none;
            }
        }
    }
}

/* Contenido principal */

main {
    padding: var(--margen-pequeno);

    & section {
        padding: var(--margen);
        margin: var(--margen-pequeno) 0;

        border: 1px solid var(--color-fondo-terciario);
        border-radius: var(--redondeado);

        & h3 {
            &::before, &::after {
                color: var(--color-fondo-secundario);
            }

            &::before {
                content: "<";
            }

            &::after {
                content: ">";
            }
        }

        &#enlaces a {
            display: block;
            margin: var(--margen) 0;
        }

        &#tablas {
            overflow: auto;

            & table {

                & th,
                & td {

                    &:first-child,
                    &:last-child {
                        text-align: end;
                    }
                }
            }
        }
    }
}

/* Anuncios */

aside {
    background-color: var(--color-fondo-cuaternario);

    padding: var(--margen-pequeno);
    margin: var(--margen-pequeno);

    border: 1px solid var(--color-fondo-terciario);
    border-radius: var(--redondeado);

    & ul {
        list-style: none;

        padding: 0;
        margin: 0;

        & li {
            margin: var(--margen-pequeno) 0;
        }
    }
}

/* Pie de página */

footer {
    background-color: var(--color-tinta);
    color: var(--color-fondo);
    text-align: center;

    padding: var(--margen);
}

/* Arriba */

#arriba a {
    position: fixed;

    bottom: var(--margen);
    right: var(--margen);

    background-color: var(--color-fondo-secundario);
    color: var(--color-tinta);

    padding: var(--margen-pequeno);

    border: 1px solid var(--color-fondo-terciario);
    border-radius: var(--redondeado);
    box-shadow: var(--sombra);

    text-decoration: none;

    cursor: pointer;
}